%h1 Запросы на бронирование столов

%table
  %tr
    %th Столик
    %th Дата
    %th Время
    %th Фамилия
    %th Имя
    %th Отчество
    %th Телефон
    %th

  -@bookings.each do |b|
    %tr
      %td= b.table
      %td= b.date
      %td= b.time
      %td= b.surname
      %td= b.name
      %td= b.patronymic
      %td= b.phone

      %td= link_to 'Удалить', [:admin, b], :confirm => 'Точно удалить?', :method => :delete

= will_paginate @feedbacks, :previous_label => "«", :next_label => "»"