= form_for [:admin, @page], :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :title, "Заголовок"
    %br
    = f.text_field :title
  %p
    = f.label :desc, "Текст"
    %br
    = f.cktext_area :desc, :language => 'ru'
  %div#SeoSwith
    %span.toggle SEO данные
  #SeoBlock
    %p
      = f.label :meta_key, "Meta Key - Ключевые слова, через запятую"
      %br
      = f.text_field :meta_key
    %p
      = f.label :meta_desc, "Meta Desc - Краткое описание"
      %br
      = f.text_field :meta_desc

  %p
    = f.submit "Сохранить"