%h1 Статические страницы
%table
  %tr
    %th.col-1 Заголовок страницы
    %th Картинки в шапке
    %th Текст
    %th.col-4
      Meta key
      %br
      (ключевые слова)
    %th.col-5
      Meta desc
      %br
      (краткое описание)

  - for page in @pages
    %tr
      %td
        %p= page.title
        %div= link_to 'Редактировать страницу', edit_admin_page_path(page)
      %td
        -if page.url == 'home'
          - for i in page.images
            %p= image_tag i.image_url(:thumb)
          = link_to "Редактирование изображений в шапке",  admin_page_images_path(page)
        -if page.url == 'restaurant'
          - for i in page.images
            %p= image_tag i.image_url(:thumb)
          = link_to "Редактирование изображений в шапке",  admin_page_images_path(page)
        -if page.url == 'shashlyk'
          - for i in page.images
            %p= image_tag i.image_url(:thumb)
          = link_to "Редактирование изображений в шапке",  admin_page_images_path(page)
      %td= raw page.desc
      %td= page.meta_key
      %td= page.meta_desc