%h2 Наши гости

.guests
  - for guest in @guests
    .guest
      %a{:title=>"#{guest.title}", :href=>"#{guest.image}", :rel=>"example_group"}
        = image_tag guest.image_url(:guest_img)
      %h4
        = guest.title
        = guest.data

  .cb

= will_paginate @guests, :previous_label => "«", :next_label => "»"
