%h2 Новая заявка на бронирование столика

%table
  %tr
    %td{:colspan=>2, :style=>"padding:5px 10px;"}
      %b= @booking.surname
      %b= @booking.name
      %b= @booking.patronymic
  %tr
    %td{:style=>"padding:5px 10px;"} Телефон:
    %td{:style=>"padding:5px 10px;"}
      %b= @booking.phone
  %tr
    %td{:style=>"padding:5px 10px;"} Столик:
    %td{:style=>"padding:5px 10px;"}
      %b= @booking.table
  %tr
    %td{:style=>"padding:5px 10px;"} Дата:
    %td{:style=>"padding:5px 10px;"}
      %b= @booking.date
  %tr
    %td{:style=>"padding:5px 10px;"} Время:
    %td{:style=>"padding:5px 10px;"}
      %b= @booking.time