%h1 Добавление нового блюда
= form_for [:admin, @menu], :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    %div Выберите изображение блюда
    = f.file_field :image
  %p
    = f.label :title, "Название блюда"
    %br
    = f.text_field :title
  %p
    = f.label :desc, "Описание блюда"
    %br
    = f.text_area :desc, :rows=>10, :cols=>60
  %p
    = f.label :price, "Цена"
    %br
    = f.text_field :price
    %br
    впишите просто цифры, например 120,50


  %p
    %div Блюдо из меню ресторана или из меню шашлычного дворика(выберите в списке)
    %select{:name => "menu[url]"}
      %option{:value => "restaurant_menu"} Меню ресторана
      %option{:value => "shashlyk_menu"} Меню шашлычного дворика

  %p
    %div Категория блюда
    %select{:name => "menu[menu_category_id]"}
      - for menu_cat in @menu_categories
        %option{:value => menu_cat.id}
          = menu_cat.name

  %p
    = f.submit "Сохранить"