#cart
  #reserv
    %h2 Ваши данные
    %p
      Ф.И.О.:
      %b= @user.surname
      %b= @user.name
      %b= @user.lastname
    %p
      Телефон:
      %b= @user.phone

    = link_to "Оформить", cart_send_url