<h2>Онлайн заказ</h2>

<div id="order">
  <table class="order">
    <% for cart_item in @cart %>
        <% @menu = cart_item.menu %>
        <tr>
          <td><%= @menu.title %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= (cart_item.unit_price) %></td>
          <td>
            <%= link_to 'Убрать из заказа', cart_item %>
          </td>
        </tr>
    <% end %>
    <tfoot>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td colspan="2" class="cost">
        Итого:
        <span class="cost">
          <%= @total_price %>
          <span class="rub">р<span>уб.</span></span>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td colspan="2" class="Checkout">
        <%= link_to "Оформить заказ", cart_profile_path %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>