%h2 Отзывы

#feed_form
  .toggle Оставить свой отзыв
  = form_for @feedback do |f|
    = f.error_messages :header_message => "Ошибка!", :message => "Вы допустили ошибку при заполнение формы", :header_tag => :h3

    = f.label :user, :Имя
    = f.text_field :user

    = f.label :desc, :Отзыв
    = f.text_area :desc, :rows => "6", :cols => "30"

    = f.submit :Отправить

.feeds
  -for feedback in @feedbacks
    .feed.right
      .feed_t
        %p= feedback.desc
      .feed_n= feedback.user
  = will_paginate @feedbacks, :previous_label => "«", :next_label => "»"