!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", :lang => "ru"}

  %head
    %title= title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:content => meta_key, :name => "keywords"}
    %meta{:content => meta_desc, :name => "description"}
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    -#= javascript_include_tag :all
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery.selectbox-0.6.1"
    = javascript_include_tag "jquery.cycle.lite.min"
    = javascript_include_tag "main"
    = javascript_include_tag "cookie"
    %script{:src=>"/img/audio.min.js", :type=>"text/javascript"}

  %body.fp
    #p
      #page
        .page_bg
          .page_bg_b

            #header

              = render 'shared/user_nav'

              %h1.logo
                %a{:href => "/"}
                  %img{:src => "/img/logo.png", :alt =>"Ресторан Ереван", :title => "Ресторан Ереван"}

              = render 'shared/audio'

            = raw menu

            = raw slider

            #section
              = yield
              .clear

        - flash.each do |name, msg|
          #flash_notice
            = content_tag :b
            = content_tag :div, "закрыть", :id => "close"
            = content_tag :h4, msg, :id => "desc"

      .fc
        %br

    = raw footer