%h1 Список блюд
%table
  %tr
    %th Изображение
    %th Название
    %th Описание
    %th Цена
    %th Редактирование
  - for menu in @menus
    %tr
      %td.center= image_tag menu.image_url(:menu_thumb)
      %td= menu.title
      %td= menu.desc
      %td= menu.price
      %td
        = link_to 'Редактировать', edit_admin_menu_path(menu)
        = link_to 'Удалить', [:admin, menu], :confirm => 'Точно удалить?', :method => :delete

%p= link_to "Добавить новое блюдо", new_admin_menu_path

= will_paginate @feedbacks, :previous_label => "«", :next_label => "»"