!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", :lang => "ru"}

  %head
    %title= title
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:content => meta_key, :name => "keywords"}
    %meta{:content => meta_desc, :name => "description"}
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    -#= javascript_include_tag :all
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery.selectbox-0.6.1"
    = javascript_include_tag "jquery.cycle.lite.min"
    = javascript_include_tag "main"
    %script{:src=>"/img/audio.min.js", :type=>"text/javascript"}

  %body.page_w
    #p
      #page
        .page_bg
          .page_bg_b

            #header

              = render 'shared/user_nav'

              %h1.logo
                %a{:href => "/"}
                  %img{:src => "/img/logo.png", :alt =>"Ресторан Ереван", :title => "Ресторан Ереван"}
              %audio{:src=>"http://s3.amazonaws.com/audiojs/02-juicy-r.mp3", :autoplay=>"autoplay"}

            = raw menu

            #section
              %h2 Бронирование столов
              .reserv_imgs
                .fl
                  %img{:width=>"350", :height=>"210", :src=>"/img/bnn_rest.jpg"}
                  %h4 Ресторан
                .fr
                  %img{:width=>"350", :height=>"210", :src=>"/img/bnn_shash.jpg"}
                  %h4 Шашлычный дворик

              = yield
              .clear

        - flash.each do |name, msg|
          #flash_notice
            = content_tag :b
            = content_tag :div, "закрыть", :id => "close"
            = content_tag :div, msg, :id => "desc"


      .fc
        %br

    = raw footer